body{
    background-color: #c2c2d6;
    user-select: none;
    cursor: default;
}
#app{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.calculator {
    border: 2px solid #47476b;
    padding: 5px;
    background: black;
    width: 320;
    position: relative;
}